Repository Woohuhu/Attendance_service, pull requests merged in 2021-05, with the labels that each got.

#23 [MERGE #22] 사용자 전체 출석현황 조회 API 추가
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/Entity/UserInfo.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/controller/AttendanceController.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/dao/AttendanceRepository.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/dao/UserRepository.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/exeption/UserNotFoundException.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceService.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceServiceImpl.java
Labels: 🐯backend🐯

#25 [MERGE #24] 날짜기준 전체 출석현황 조회 API 추가
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/Entity/Attendance.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/controller/AttendanceController.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/dao/AttendanceRepository.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/dto/AttendanceDto.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/exeption/AttendanceNotFoundException.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceService.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceServiceImpl.java
Labels: 🐯backend🐯

#27 [MERGE #26] 출결정보 업데이트 API 추가
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/controller/AttendanceController.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/dao/AttendanceRepository.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceService.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceServiceImpl.java
Labels: 🐯backend🐯

#29 [MERGE #28] 인증로직 추가
  backend-spring/src/main/java/com/woohuhu/spring_backend/WebConfig.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/exception/AttendanceNotFoundException.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/exception/UserNotFoundException.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/attendance/service/AttendanceServiceImpl.java
  backend-spring/src/main/java/com/woohuhu/spring_backend/global/interceptor/JwtInterceptor.java
  frontend/src/controller/user.controller.js
  frontend/src/service/global/axios.resource.js
  frontend/src/service/user/user.service.js
  frontend/src/store/index.js
Labels: 🐯backend🐯, 🐷frontend🐷

#33 [MERGE #31] 사용자별 출석현황 조회 페이지 추가
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/src/components/attendance/ByIdComponent.vue
  frontend/src/router/index.js
  frontend/src/views/attendance/AttendanceById.vue
Labels: 🐷frontend🐷

#34 [MERGE #31] 사용자별 출석현황 조회 페이지 추가
  frontend/src/components/attendance/ByIdComponent.vue
  frontend/src/controller/attendance.controller.js
  frontend/src/service/attendance/attendance.service.js
  frontend/src/views/attendance/AttendanceById.vue
Labels: 🐷frontend🐷

#37 [MERGE #36] 폰트 적용 에러 수정
  frontend/src/App.vue
  frontend/src/views/user/Login.vue
Labels: 🐷frontend🐷

#38 [MERGE #35] 출석체크 페이지 생성
  frontend/src/components/attendance/UserListComponent.vue
  frontend/src/router/index.js
  frontend/src/views/attendance/AttendanceCheck.vue
Labels: 🐷frontend🐷
