Repository Woohuhu/Attendance_service, pull requests merged in 2021-04, with the labels that each got.

#4 [MERGE #3] - 사용자 조회 API 생성
  backend-spring-auth/build.gradle
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/controller/UserController.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/dao/UserDao.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/dto/UserDto.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/exception/UserNotFoundException.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserService.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserServiceImpl.java
  backend-spring-auth/src/main/resources/mappers/UserMapper.xml
Labels: 🐯backend🐯

#6 [MERGE #4] - 회원가입 API 생성
  backend-spring-auth/build.gradle
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/SecurityJavaConfig.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/controller/UserController.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/dao/UserDao.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/exception/UserExsitedException.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserService.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserServiceImpl.java
  backend-spring-auth/src/main/resources/mappers/UserMapper.xml
Labels: 🐯backend🐯

#9 [MERGE #8] - 로그인 API 생성
  backend-spring-auth/build.gradle
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/global/service/JWTService.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/global/service/JWTServiceImpl.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/controller/UserController.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/dto/LoginRequestDto.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/dto/LoginResponseDto.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/exception/UserUnauthorizedException.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserService.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserServiceImpl.java
Labels: 🐯backend🐯

#13 [MERGE #12] User API 버그 픽스
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/global/dto/StatusCode.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/global/service/JWTService.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/global/service/JWTServiceImpl.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/controller/UserController.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/dto/UserInfoDto.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserService.java
  backend-spring-auth/src/main/java/com/woohuhu/spring_backend_auth/user/service/UserServiceImpl.java
  backend-spring-auth/src/main/resources/logback-spring.xml
Labels: bug, 🐯backend🐯

#15 [MERGE #14] - Header, Footer 생성
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.svg
  frontend/src/components/Footer.vue
  frontend/src/components/Header.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/src/service/global/axios.auth.js
  frontend/src/views/Home.vue
  frontend/vue.config.js
Labels: 🐷frontend🐷, 📦boilerplate📦

#17 [MERGE #16] 로그인 기능 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.vue
  frontend/src/router/index.js
  frontend/src/service/global/axios.auth.js
  frontend/src/store/index.js
  frontend/src/views/user/Login.vue
  frontend/vue.config.js
Labels: 🐷frontend🐷

#19 [MERGE #18] 회원가입 기능 생성
  frontend/src/controller/user.controller.js
  frontend/src/router/index.js
  frontend/src/service/user/user.service.js
  frontend/src/views/user/SignUp.vue
Labels: 🐷frontend🐷
